<% provide :title, t(".title") %>
<h1 style="margin:20px 0px 30px 0px"> <%= t ".title" %> </h1>

<ul style="display:flex; flex-wrap: wrap; justify-content:space-between">
  <%= render @cats %>
</ul>

<div style="width:98%; display:flex; flex-direction:column; align-items: flex-end">
	<%= paginate @cats , theme: "twitter-bootstrap-3" %>
</div>


