<h1>Booking Time</h1>

<div style="margin-top:30px; display:flex">
  <div class="col-md-6">
	<%= render 'form', time_cat: @time_cat %>
  </div>
  <div class="col-md-6" style="margin:15px 30px">
	<table class="table">
		<thead class="thead-dark">
			<tr>
			<th scope="col">#</th>
			<th scope="col">User</th>
			<th scope="col">Time</th>
			</tr>
		</thead>
		<tbody>
			<% @cat.time_cats.sort_by(&:time).each_with_index do |time,i| %>
				<tr class="text-left">
					<th scope="row"><%= i+1 %></th>
					<% user = User.find_by id: time.user_id %>
					<td><%= user.name %></td>
					<td><%= time.time.strftime("%I:%M %p on %d %B %Y")  %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
  </div>
</div>

