<div class="cart text-right">
	<div class="product">
		<figure class="center">
			<% if cat_item.cat.cat_images.first %>
				<%= image_tag(cat_item.cat.cat_images.first.link, style:"width:100%; height:200px; object-fit:cover") %>
			<% end %>
		</figure>
  	</div>
  	<div class="price">
		<strong><%= cat_item.cat.name %> </strong>
		<br>	
		<%= link_to 'Remove Item', cat_item, method: :delete, data: { confirm: "Are you sure? " }, style:"text-decoration: underline;" %>
 	</div>
</div>
<hr>