<footer style="margin-top:50px">
	<div class="footer-detail">
		<div class="box">
			<p class="text-title">CONTACT</p>     
            <div id="myDIV" class="text-gray my-3">
              <p><i class="fas fa-map-marker-alt mr-2"></i>Address</p>
              <div class="my-2">
                <p class="mb-4">1 Dai Co Viet, Hai Ba Trung District, Hanoi, Vietnam </p>
              </div>
              <p class="mt-3"><i class="fas fa-envelope mr-2"></i>Mail: mongu@123.com</p>
            </div>
		</div>
		<div class="box">
			<p class="text-title">ABOUT SERVICE</p>     
            <div id="myDIV" class="text-gray my-3">
				<div class="my-3">
					<p>If you want to eat early, be alone and if you want to have fun, please eat with us.</p>
				</div>
				<div style="width:50%;margin-left:10px; margin-top:30px">
					<span style="font-size: 3em; display:flex; justify-content:space-between;">
						<i class="fab fa-facebook-square"></i>
						<i class="fab fa-instagram"></i>
						<i class="fab fa-twitter-square"></i>
					</span>
				</div>
				
            </div>
		</div>
	</div>
	<div class="footer" >
  		<b>Product of Mongu Team. Design by Recipe Team</b>
	</div>
</footer>
